.round{
    background-color: black;
    font-family: courier;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 25px;
    border-radius: 50px;
    display: inline-block;
}
.n{
    display: inline-block;
    padding-left: 15px;
    color: white;
    font-family: courier;
}
.para{
    display: inline-block;
}
.para2{
    display: inline-block;
}
.b{
    border: none;
    background-color: black;
    margin-right: 950px;
}
.h{
    color: white;
    font-family: courier;
    background-color: black;
}
.s{
    font-family: courier;
    color: white;
    padding-left: 80px;
}
.body{
    background-color: black;
}
.p1{
    font-family: courier;
    color: silver;
}
.in1{
    border-radius: 5px;
    border: none;
}
.but{
    background-color: silver;
    color: black;
    font-weight: bold;
    font-family: courier;
    margin-top: 15px;

}
.a{
    margin-left: 500px;
    margin-top: 40px;
}