.round{
    background-color: black;
    font-family: courier;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 25px;
    border-radius: 50px;
    display: inline-block;
}

.body{
    background-color: black;
    color: white;
}
.n{
    display: inline-block;
    padding-left: 15px;
    color: white;
    font-family: courier;
}
.para{
    display: inline-block;
}
.para2{
    display: inline-block;
}
.par2{
    display: inline;
    margin-left: 80px;
}
.b{
    border: none;
    background-color: black;
    /* background-color: black; */
    margin-right: 950px;
}
.h{
    color: white;
    /* padding-left: 950px; */
    font-family: courier;
}
.s{
    font-family: courier;
    color: white;
    /* margin-left: 80px; */
}

.s2{
    padding-left: 143px;
}
.s1{
    padding-left: 40px;
}
.s3{
    padding-left: 150px;
}
.s4{
    padding-left: 160px;
}
.s5{
    padding-left: 145px;
}
.s6{
    padding-left: 155px;
}
.s7{
    padding-left: 170px;
    padding-right: 52px;
}
.a{
    margin-top: 20px;
}
.total{
    color: white;
}
.total2{
    display: inline-block;
    color: white;
}
/* .l1{
    background-color: blue;
}
.l2{
    background-color: blue;
} */
.all{
    margin-top: 30px;
    margin-left: 30px;
}
.a1{
    margin-top: 10px;
}
.book{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 50px;
}
.but2{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: courier;
    margin-bottom: 4px;
}
.but2:hover{
    box-shadow: 3px 3px 6px 5px silver;
}